.entry-content{
    min-height: 100%;
    margin: 0;

    img.logo-site {
        width: 300px;
        height: auto;

        position: absolute;
        padding: 0;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%) rotate(30deg);
    }

    span.choix {
        width: 100%;
        position: absolute;
        top: 50vh;
        font-size: 150%;
        text-shadow: 1px 1px darkslateblue;
        padding-top: 0;
        transform: translateY(-50%);

        a {
            color: white;
            letter-spacing: 1px;
    
            &.gauche {
                position: absolute;
                margin-left: 2.75vw;
                left: 0;
            }
        
            &.droite {
                white-space: nowrap;
                position: absolute;
                right: 0;
                margin-right: 2.75vw;
            }
        }
    }

    
    @media screen and (max-width: 768px) {
        section #lesChoix {
            flex-direction: row;
        }

        img.logo-site{
            width: 55%;
            height: auto;
        }

        span.choix {
            top: 0;
            a {
                margin: 0 !important;

                &.gauche {
                    position: absolute;
                    top: 15vh;
                    left: 50 !important;
                    transform: translateX(50%);
                }
            
                &.droite {
                    position: absolute;
                    white-space: nowrap;
                    top: 85vh;
                    transform: translateX(50%) translateY(-100%);
                    right: 50%;
                }
            }
        }
    }
}

/*
div {
    width: 60px;
    height: 12px;
    background-color: cadetblue;
    margin: 6px 0;
    margin-left: 2.5%;
}

nav.logic {
    margin: auto;
    width: 50%;
    text-align: justify;
}

nav.logic h1 {
    color: cyan;
    text-shadow: 1.5px 1.5px darkslateblue;
    text-align: center;
}

nav.logic p {
    color: white;
}

nav.creation {
    margin: auto;
    width: 50%;
    padding-top: 20%;
    text-align: justify;
}

nav.creation h1 {
    color: magenta;
    text-shadow: 1.5px 1.5px darkslateblue;
    text-align: center;
}

nav.creation p {
    color: white;
}



nav.vEtudiante {
    margin: auto;
    width: 50%;
    text-align: justify;
}

nav.vEtudiante h1 {
    color: magenta;
    text-shadow: 1.5px 1.5px darkslateblue;
    text-align: center;
}

nav.vEtudiante p {
    color: white;
}
*/