
.entry-content{
    /*padding-top: 0;*/
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
    header{
        height: 0;
    }
    img.logo-site {
        width: 300px;
        height: auto;

        position: absolute;
        padding: 0;
        top: 50vh;
        left: 50vw;
        
        opacity: 0.9;
    }

    span.choix {
        width: 100%;
        position: absolute;
        top: 50vh;
        font-size: 1.2rem;
        text-shadow: 1px 1px darkslateblue;
        padding-top: 0;
        transform: translateY(-50%);

        a {
            color: white;
            //letter-spacing: 1px;
            letter-spacing: 0.5rem;
            text-shadow:0px 0px 5px #E6E6E6;
            &.gauche {
                position: absolute;
                margin-left: 2.75vw;
                left: 0;
                
            }
        
            &.droite {
                white-space: nowrap;
                position: absolute;
                right: 0;
                margin-right: 2.75vw;
            }

            &:hover {
                color:#ffffff;
                text-shadow:0px 0px 10px #ffffff;
                transition: all 0.2s ease-in;
            }
        }
    }

    
    @media screen and (max-width: 768px) {
        section #lesChoix {
            flex-direction: row;
        }

        img.logo-site{
            width: 55%;
            height: auto;
            transform: rotate(30deg);
        }

        span.choix {
            top: 0;
            a {
                text-transform: uppercase !important;
                margin: 0 !important;
                //font-size: 1.5rem;
                
                &.gauche {
                    position: absolute;
                    top: 20vh;
                    left: 50 !important;
                    transform: translateX(50%);
                }
            
                &.droite {
                    position: absolute;
                    white-space: nowrap;
                    top: 80vh;
                    transform: translateX(50%) translateY(-100%);
                    right: 50%;
                }
            }
        }
    }
}

/*
div {
    width: 60px;
    height: 12px;
    background-color: cadetblue;
    margin: 6px 0;
    margin-left: 2.5%;
}

nav.logic {
    margin: auto;
    width: 50%;
    text-align: justify;
}

nav.logic h1 {
    color: cyan;
    text-shadow: 1.5px 1.5px darkslateblue;
    text-align: center;
}

nav.logic p {
    color: white;
}

nav.creation {
    margin: auto;
    width: 50%;
    padding-top: 20%;
    text-align: justify;
}

nav.creation h1 {
    color: magenta;
    text-shadow: 1.5px 1.5px darkslateblue;
    text-align: center;
}

nav.creation p {
    color: white;
}



nav.vEtudiante {
    margin: auto;
    width: 50%;
    text-align: justify;
}

nav.vEtudiante h1 {
    color: magenta;
    text-shadow: 1.5px 1.5px darkslateblue;
    text-align: center;
}

nav.vEtudiante p {
    color: white;
}
*/