/*.entry-content{
    height: 100%;
    margin: 0;

    h1{
        margin: 0;
        padding: 0;
        text-align: center;
    }

    p{
        margin: auto;
        padding: 0;
        max-width: 50%;
        left: 25%;
        text-align: justify;
        color: orange;
    }

    #creation {
        color: #F08080;
    }

    p:nth-child(4) {
        color: orange;
    }
}

entry-content{
    #menu-ul{
        color: yellow;
        background-color: yellow;
    }
}*/

/*@media screen and (max-width: 768px) {
    .cheminement{
        height: 100%;
    }
  }*/