$fond-par-defaut: url("./images/AccueilAlterSombre.jpg");
$fond-cheminement: url("./images/GeneriqueAlterSombre.jpg");

/* Positionnement */
body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body{
    background-image: $fond-par-defaut;
    &.cheminement{ background-image: $fond-cheminement; }
}

