@import "vie-au-tim/evenements";

.vie-au-tim{
    overflow-x: hidden;
    > div {
        max-width: 1280px;
        margin: 40px auto;

        > h1{
            margin: 0 40px;
            font-size: 46px;
            border-bottom: 4px solid white;
            border-image-slice: 1;
            border-image-source: linear-gradient(to right, rgba(#FFF, 0.5), rgba(#FFF, 0));
        }
    }
}