
/*********************** TERRITOIRE DE MONICA *************************/
li .page_item {
	display: hide;
  }

/*p {
	color: aqua;
    display: grid;
    place-items: center;
}*/

.img-parent {
    height: 100%;
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;

    .img-enfants {
        flex: 0 1 150px;
        margin: 5px;
        overflow: hidden;
        height: 500px;

        img {
            transition: transform 0.5s ease;
            &:hover{
                transform: scale(1.5); 
            }
        }
    }

    .gallerie-img-etudiante {
        object-fit: none;
        height: 100%;
        //clip-path: inset(10px 100px);
        //mask-size: cover;
        //border-radius: 100%;
        //-moz-border-radius: 100%;
        //-webkit-border-radius: 100%;
        //-o-border-radius: 100%;
        //clip-path: circle(140px at center);
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
        }

        &:active {
            filter: grayscale(100%);
        }
    }
}

  /******************** LIGHTBOX *************************/
 
.lightbox {
    /** Default lightbox to hidden */
    opacity: 0;
    z-index: -100;
    display: grid;
    place-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(44, 1, 35, 0.4);
    backdrop-filter: blur(5px);
}
  
.lightbox:target {
    opacity: 1;
    z-index: 999;
}

#playlist-projet iframe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}